<% if user_signed_in? %>
  <h1 class="dash-title">Hello <%= current_user.name %>, This is an example Dashboard:</h1>
  <h3 class="dash-title">You've just gained easy insights on your data. We will contact you shortly</h3>
  <h4 class="dash-title">Feel free to look around</h3>
 <% else %>
  <h1 class="dash-title">Nobody Logged In</h1>
 <% end %>
	<div class="row" id="graph-container">
    <div id="graph">
  	    <%= line_chart  @data, @options %>            
    </div>

    <div class="row text-center">    
        <strong>Clicks <%= check_box_tag 'Clicks', 'yes', false, class: 'clicks lead' %></strong>
        <strong>Impressions <%= check_box_tag 'Impressions', 'yes', false, class: 'Impressions lead' %></strong>
        <strong>Avg. CPC <%= check_box_tag 'Avg. CPC', 'yes', false, class: 'Avg. CPC lead' %></strong>
        <strong>Cost <%= check_box_tag 'Cost', 'yes', false, class: 'Cost lead' %></strong>
        <strong>CTR <%= check_box_tag 'CTR', 'yes', false, class: 'CTR lead' %></strong>
        <strong>Conversions <%= check_box_tag 'Conversions', 'yes', false, class: 'Conversions lead' %></strong>
        <strong>Conversion Rate <%= check_box_tag 'Conversion Rate', 'yes', false, class: 'Conversion Rate lead' %></strong>
        <strong>CPA <%= check_box_tag 'CPA', 'yes', false, class: 'CPA lead' %></strong>
    </div>
   
	</div>
  <div class="row text-center">
    <div class="col-sm-3">
        <text class="kpi lead">clicks</text>
        <p class= "kpi-number"><strong> 1,100 </strong></p> 
    </div>
    <div class="col-sm-3">
        <text class="kpi lead">impressions</text>
        <p class= "kpi-number"><strong>1,100</strong></p>  
    </div>
    <div class="col-sm-3">
        <text class="kpi lead">ctr</text>
        <p class= "kpi-number"><strong>5.15%</strong></p> 
    </div>
    <div class="col-sm-3">
        <text class="kpi lead">cpc</text>
        <p class= "kpi-number">$<strong>14.50</strong></p> 
    </div>
  </div>
    
    <div class="row text-center">
    <div class="col-sm-3">
          <text class="kpi lead">cost</text>
          <p class= "kpi-number">$<strong>3,000<strong></p> 
      </div>
      <div class="col-sm-3">
          <text class="kpi lead">cpa</text>
          <p class= "kpi-number">$<strong>20</strong></p>  
      </div>
      <div class="col-sm-3">
          <text class="kpi lead">conversions</text>
          <p class= "kpi-number"><strong>23</strong></p> 
      </div>
      <div class="col-sm-3">
          <text class="kpi lead">conv. rate</text>
          <p class= "kpi-number"><strong> 2.3% </strong></p> 
      </div>
    </div>
<hr>
<h2 class="dash-title"> Recommendations for this week's data: </h2>
	<table class="table recommendation table-bordered">
        <tr>
            <th class="text-center">Main Takeaway</th>
            <th class="text-center">Recommendation</th> 
            <th class="text-center">Ease of Implementation</th>
        </tr>
        <tr>
            <td>Avg. CPC has been increasing greatly in the last few days</td>
            <td>Perhaps Competitors are bidding more aggresively</td> 
            <td class="easy">Easy</td>
        </tr>
        <tr>
            <td>Campaign "Shoes" Conversions has increased significantly in the last few days</td>
            <td>Opportunity to increase CPC's for top converting Keywords</td> 
            <td class="medium">Medium</td>
        </tr>
        <tr>
            <td>Overall CTR has decreased significantly</td>
            <td>Perform Search Query Reports</td> 
            <td class="hard">Hard</td>
        </tr>
    </table>

<h2 class="dash-title">View Other Reports:</h2>
<div class-"row">
    <div class="col-sm-6 div-container">
    <h5 class="dash-title"> Monthly SEM Report</h5>
        <%= link_to image_tag("chart-1.jpg", :class => "image-chart"), monthly_report_path %>
       </div>
    <div class="col-sm-6 div-container">
        <h5 class="dash-title"> Yearly SEM Report</h5>
            <%= link_to image_tag("chart-2.jpg", :class => "image-chart"), yearly_report_path %>
        </div>
    </div>
	<div class="row">
	    <div class="col-sm-12 text-center text-bottom footer">
	        All Rights Reserved Rerum 2016
	    </div>
	</div>  