<div class="row">
	<h1 class="usp-head-about">About the team</h1>
	
</div>
<div class="row">	
		<div class="col-sm-2 team"></div>
		<div class="col-sm-3 team">
			<%= image_tag("dieter-headshot.png", :class => "headshot" )%>
		</div>
		<div class="col-sm-5 team">
			<h3><strong>Dieter Ordonez Alcocer</strong></h3>
			<hr>
			<p class="lead bio">Dieter experience in online marketing ranges from SEM, SEO and Web Analytics. Dieter's experience in the field has sparked a fire within him to squeeze the junction between marketing and development.
			A field that has definitely expanded in the recent years, but only by a few number of people.</br></br>
			<strong>Rerum</strong> is a testament to that spark. It's Dieter's first try to provide a solution that can help small businesses gain the edge of big corporations   
￼				</p>
		</div>
		<div class="col-sm-2 team"></div>
</div>
<div class="row">	
		<div class="col-sm-2 team"></div>
		<div class="col-sm-3 team">
			<%= image_tag("gaby-headshot.png", :class => "headshot" )%>
		</div>
		<div class="col-sm-5 team">
			<h3><strong>Gabriela Mendivil del Valle</strong></h3>
				<hr>
				<p class="lead bio">Gabriela's quick learning skills has positioned her to be one of the top Search Engine Marketers in Miami. Her experience ranges from Travel, Retail and Performance Lead Generation. She the ability to analize chunks of data very quickly
				</br></br> Her desire and drive to learn and to become an expert in the field has positioned her to be one of the top picks for <strong>Rerum's</strong> team </p>	
		</div>
			
		<div class="col-sm-2 team"></div>			
		</div>
</div>
<div class="row">	
		<div class="col-sm-2 team"></div>
		<div class="col-sm-3 team">
			<%= image_tag("pepe-headshot.png", :class => "headshot" )%>
		</div>
		<div class="col-sm-5 team">
			<h3><strong>Jose Ordonez</strong></h3>
					<hr>
					<p class="lead bio">As an extraordinarily driven professional, I am committed to finding effective, agile, and scalable solutions for my clients in the travel industry and other verticals.

			Consumers across the globe are increasingly connected to brands through multiple digital channels and devices, and the technology supporting these channels is rapidly evolving. Fast-moving, digitally oriented companies are outmaneuvering product and service oriented companies – like airlines – making it more difficult to directly acquire customers online via a fully branded sales process. Consequently, preserving customer loyalty can be challenging and costly.
		</div>
		<div class="col-sm-2 team"></div>
</div>
<div class="col-sm-12 text-center text-bottom footer">
	<div>
			<ul>
				<li class="footer-link"><%= link_to "Home", root_path %></li> |   					
				<li class="footer-link"><%= link_to "Request a Demo", new_user_registration_path %></li> |   					
				<li class="footer-link"><%= link_to "Sign In", new_user_session_path %></li> |   					
				<li class="footer-link"><%= link_to "About Us", about_us_path %></li> |   			
			</ul>		
			RERUM Data © Miami, FL USA
	</div>							
</div>
	
