<div class="row banner">
	<h1>Get Your Facts Right</h1>
	<div class="inline square"></div>
	<div class="inline square"></div>
	<div class="inline square"></div>
	<h2 class="">Where is your money being spent?</h2>
</div>
<div class="row body">
	<div class="col-sm-6 left">
		<%= image_tag("analytics-600.jpg", :class => "image") %>		
	</div>
	<div class="col-sm-6 right">
		<h3>Learn Insights to boost your ROI</h3>
			<ul class="list">
	   			<li>Souvlaki ignitus carborundum e pluribus unum</li>
	   			<li>Quote meon an estimate et non interruptus stadium. </li>
	   			<li>Epsum factorial non deposit quid pro quo hic escorol. </li>
	   			<li>Quote meon an estimate et non interruptus stadium. </li>
			</ul>
	</div>
</div>	
<hr>
<div class="row">
	<div class="col-xs-12 col-sm-6 left" >
		<h3>Learn Insights to boost your ROI</h3>
			<ul class="list">
	   			<li>Souvlaki ignitus carborundum e pluribus unum</li>
	   			<li>Quote meon an estimate et non interruptus stadium. </li>
	   			<li>Epsum factorial non deposit quid pro quo hic escorol. </li>
	   			<li>Quote meon an estimate et non interruptus stadium. </li>
			</ul>
	</div>
	<div class="col-xs-12 col-sm-6 right">
		<%= image_tag("analytics-600.jpg", :class => "image") %>	
	</div>
</div>	
<hr>
<div class="row">
	<div class="col-sm-12 text-center">
	<h3>Our Validations:</h3>
		<ul>
			<li class="icon"><%= image_tag("validation-1.jpg", :class => "style_icon") %></li>
			<li class="icon"><%= image_tag("validation-2.jpg", :class => "style_icon") %></li>
			<li class="icon"><%= image_tag("validation-3.jpg", :class => "style_icon") %></li>
			<li class="icon"><%= image_tag("validation-4.jpg", :class => "style_icon") %></li>
			<li class="icon"><%= image_tag("validation-5.jpg", :class => "style_icon") %></li>
		</ul>
	</div>	
</div>
<div class="row">
	<div class="col-sm-12 text-center text-bottom footer">
		All Rights Reserved Rerum 2016
	</div>
</div>	
<div></div>	
