<div class="row banner">
	<h1 class="usp-head-1">Enhanced Search Engine Marketing Dashboards</h1>
	<div class="text-center">
		<%= link_to "Request a Demo", new_user_registration_path, :class => "btn-lg btn-primary" %>
	</div>
</div>
<div class="row body">
	<div class="col-sm-3 left">
		<span class="glyphicon glyphicon-filter circle js-glyphicon-filter"></span>
			<p class="usp">Filtered actionable results</p>
	</div>
	<!-- DASHBOARD WEEKLY MODAL -->
		<div class="modal fade js-glyphicon-filter-modal">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">

		      <div class="modal-header">
		        <!-- Close button -->
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span>&times;</span>
		        </button>

		        <h2 class="js-song-modal-title usp-head-1">Obtain Visual Insights on your campaigns</h2>
		      </div>

		      <div class="js-modal-song-body row">
						<%= line_chart @data, @options %>					
								<h3 class="usp-head-modal">With Rerum:</h3>
									<ul class="list">
										<li><p>Your business categories clearly visibile upon login</p></li>
										<li><p>Filter your results by category</p></li>
										<li><p>Select and analyze the KPI that is most valuable</p></li>
									</ul>
						</br>
		      </div>
						 <div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Request a Demo</button>
						</div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	<div class="col-sm-3 left">
		<span class="glyphicon glyphicon-tasks circle js-glyphicon-table"></span>
			<p class="usp">Quick follow up actions</p>
	</div>
	<!-- TABLE WEEKLY MODAL -->
		<div class="modal fade js-glyphicon-table-modal">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">

		      <div class="modal-header">
		        <!-- Close button -->
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span>&times;</span>
		        </button>

		        <h2 class="js-song-modal-title usp-head-1">Recommendations based on your industry and account history</h2>
		      </div>

		      <div class="js-modal-song-body row">
					</br>
							<table class="table recommendation table-bordered">
								<tr>
									<th class="text-center">Main Takeaway</th>
									<th class="text-center">Recommendation</th> 
									<th class="text-center">Ease of Implementation</th>
								</tr>
								<tr>
									<td>Avg. CPC has been increasing greatly in the last few days</td>
									<td>Perhaps Competitors are bidding more aggresively</td> 
									<td class="easy">Easy</td>
								</tr>
								<tr>
									<td>Campaign "Shoes" Conversions has increased significantly in the last few days</td>
									<td>Opportunity to increase CPC's for top converting Keywords</td> 
									<td class="medium">Medium</td>
								</tr>
								<tr>
									<td>Overall CTR has decreased significantly</td>
									<td>Perform Search Query Reports</td> 
									<td class="hard">Hard</td>
								</tr>
							</table>
						</br>
						</br>
		      </div>
						 <div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Request a Demo</button>
						</div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	<div class="col-sm-3 left">		
		<span class="glyphicon glyphicon-signal circle js-glyphicon-circle"></span>
			<p class="usp">Insightful data at glance</p>
			<!-- TABLE WEEKLY MODAL -->
		<div class="modal fade js-glyphicon-circle-modal">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">

		      <div class="modal-header">
		        <!-- Close button -->
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span>&times;</span>
		        </button>

		        <h2 class="js-song-modal-title usp-head-1">The most important info right since the begining</h2>
		      </div>
		      <div class="js-modal-song-body row text-center">
					</br>
						<%= image_tag("kpi-modal.png", :class => "kpi-modal")%>
						</br>
						</br>
		      </div>
						 <div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Request a Demo</button>
						</div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>		
	<div class="col-sm-3 left">		
		<span class="glyphicon glyphicon-time circle js-glyphicon-time"></span>
			<p class="usp">Investment where matters</p>
	</div>
	<!-- TABLE WEEKLY MODAL -->
		<div class="modal fade js-glyphicon-time-modal">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">

		      <div class="modal-header">
		        <!-- Close button -->
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span>&times;</span>
		        </button>

		        <h2 class="js-song-modal-title usp-head-1">Get recommendations based on your industry</h2>
		      </div>

		      <div class="js-modal-song-body row">
					</br>
							<table class="table recommendation table-bordered">
								<tr>
									<th class="text-center">Main Takeaway</th>
									<th class="text-center">Recommendation</th> 
									<th class="text-center">Ease of Implementation</th>
								</tr>
								<tr>
									<td>Avg. CPC has been increasing greatly in the last few days</td>
									<td>Perhaps Competitors are bidding more aggresively</td> 
									<td class="easy">Easy</td>
								</tr>
								<tr>
									<td>Campaign "Shoes" Conversions has increased significantly in the last few days</td>
									<td>Opportunity to increase CPC's for top converting Keywords</td> 
									<td class="medium">Medium</td>
								</tr>
								<tr>
									<td>Overall CTR has decreased significantly</td>
									<td>Perform Search Query Reports</td> 
									<td class="hard">Hard</td>
								</tr>
							</table>
						</br>
						</br>
		      </div>
						 <div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Request a Demo</button>
						</div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
</div>
</div>	
<hr>
<div class="row">
	<div class="col-xs-12 col-sm-6 left" >
		<h3 class="usp-head-1">Learn Insights to boost your ROI</h3>
			<ul class="list">
	   			<li>With Rerum you identify where are you investing your money</li>
	   			<li>Insights by week, month, year. Plan ahead of time</li>
	   			<li>We do the hard work for you. Focus on marketing strategy </li>
	   			<li>1 Week to implement and start gathering data</li>
			</ul>
	</div>
	<div class="col-xs-12 col-sm-6 right">
		<%= image_tag("iStock_79807267_MEDIUM.jpg", :class => "image") %>	
	</div>
</div>	
<hr>
<div class="row">
	<div class="col-sm-12 text-center">
	<h3>Our Validations:</h3>
		<ul>
			<li class="icon"><%= image_tag("validation-1.jpg", :class => "style_icon") %></li>
			<li class="icon"><%= image_tag("validation-2.jpg", :class => "style_icon") %></li>
			<li class="icon"><%= image_tag("validation-3.jpg", :class => "style_icon") %></li>
			<li class="icon"><%= image_tag("validation-4.jpg", :class => "style_icon") %></li>
			<li class="icon"><%= image_tag("validation-5.jpg", :class => "style_icon") %></li>
		</ul>
	</div>	
</div>
<div class="row">
    <div class="col-sm-12 text-center text-bottom footer">
        <div>
			<ul>
				<li class="footer-link"><%= link_to "Home", root_path %></li> |   					
				<li class="footer-link"><%= link_to "Request a Demo", new_user_registration_path %></li> |   					
				<li class="footer-link"><%= link_to "Sign In", new_user_session_path %></li> |   					
				<li class="footer-link"><%= link_to "About Us", about_us_path %></li> |   			
			</ul>		
			RERUM Data © Miami, FL USA
        </div>							
    </div>	
</div>