<div class="row banner-signup">
	<h1 class="usp-head-registrations">Get things moving today...</h1>
<h2 class="usp-head-registrations">Register now for a 30 day trial</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div class="login-text">
    <%= f.label :name %><br />
    <div class="form-text"><%= f.text_field :name, autofocus: true %></div>
    </div>

  <div class="field login-text">
    <%= f.label :email %><br />
    <div class="form-text"><%= f.email_field :email %></div>
  </div>
<!--
  <div class="field">
    <%= f.label :adwords_id %><br />
    <%= f.text_field :adwords_id %>
  </div>
-->
  <div class="field login-text">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <div class="form-text"><%= f.password_field :password, autocomplete: "off"%></div>
  </div>

  <div class="field login-text">
    <%= f.label :password_confirmation %><br />
    <div class="form-text"><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
  </div>
  <br>
  <div class="actions ">
    <%= f.submit "Sign up", :class => "btn btn-primary" %>
  </div>
<% end %>
  <div class="login-text">
  Already a Member? <%= render "devise/shared/links" %>
  </div>
</div>